.ta-hidden-input {
    width: 1px;
    height: 1px;
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -10000px;
    left: -10000px;
    opacity: 0;
    overflow: hidden;
}

/* add generic styling for the editor */
.ta-root.focussed > .ta-scroll-window.form-control {
    border-color: rgba(142, 185, 54, 0.6);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(142, 185, 54, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(142, 185, 54, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(142, 185, 54, 0.6);
}

.ta-editor.ta-html, .ta-scroll-window.form-control {
    min-height: 200px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
}

.ta-scroll-window.form-control {
    position: relative;
    padding: 0;
}

.ta-scroll-window > .ta-bind {
    height: auto;
    min-height: 200px;
    padding: 6px 12px;
}

.ta-editor:focus {
    user-select: text;
}

/* add the styling for the awesomness of the resizer */
.ta-resizer-handle-overlay {
    z-index: 100;
    position: absolute;
    display: none;
}

.ta-resizer-handle-overlay > .ta-resizer-handle-info {
    position: absolute;
    bottom: 16px;
    right: 16px;
    border: 1px solid black;
    background-color: #FFF;
    padding: 0 4px;
    opacity: 0.7;
}

.ta-resizer-handle-overlay > .ta-resizer-handle-background {
    position: absolute;
    bottom: 5px;
    right: 5px;
    left: 5px;
    top: 5px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.2);
}

.ta-resizer-handle-overlay > .ta-resizer-handle-corner {
    width: 10px;
    height: 10px;
    position: absolute;
}

.ta-resizer-handle-overlay > .ta-resizer-handle-corner-tl{
    top: 0;
    left: 0;
    border-left: 1px solid black;
    border-top: 1px solid black;
}

.ta-resizer-handle-overlay > .ta-resizer-handle-corner-tr{
    top: 0;
    right: 0;
    border-right: 1px solid black;
    border-top: 1px solid black;
}

.ta-resizer-handle-overlay > .ta-resizer-handle-corner-bl{
    bottom: 0;
    left: 0;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.ta-resizer-handle-overlay > .ta-resizer-handle-corner-br{
    bottom: 0;
    right: 0;
    border: 1px solid black;
    cursor: se-resize;
    background-color: white;
}

/* copy the popover code from bootstrap so this will work even without it */
.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    max-width: 276px;
    padding: 1px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: left;
    white-space: normal;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.popover.top {
    margin-top: -10px;
}
.popover.bottom {
    margin-top: 10px;
}
.popover-title {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
}
.popover-content {
    padding: 9px 14px;
}
.popover > .arrow,
.popover > .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.popover > .arrow {
    border-width: 11px;
}
.popover > .arrow:after {
    content: "";
    border-width: 10px;
}
.popover.top > .arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-color: #999;
    border-top-color: rgba(0, 0, 0, .25);
    border-bottom-width: 0;
}
.popover.top > .arrow:after {
    bottom: 1px;
    margin-left: -10px;
    content: " ";
    border-top-color: #fff;
    border-bottom-width: 0;
}
.popover.bottom > .arrow {
    top: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #999;
    border-bottom-color: rgba(0, 0, 0, .25);
}
.popover.bottom > .arrow:after {
    top: 1px;
    margin-left: -10px;
    content: " ";
    border-top-width: 0;
    border-bottom-color: #fff;
}

text-angular .btn-toolbar{
    margin-left: -5px;
    margin-bottom: 5px;
    overflow: hidden;
}
text-angular .btn-toolbar > .btn, .btn-toolbar > .btn-group, .btn-toolbar > .input-group {
    margin-left: 5px;
}
text-angular .btn-toolbar .btn-group, .btn-toolbar .input-group {
    float: left;
}
text-angular .btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
text-angular .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
text-angular .btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
}
text-angular .btn-group > .btn:last-child:not(:first-child), text-angular .btn-group > .dropdown-toggle:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
text-angular .btn-group .btn + .btn, text-angular .btn-group .btn + .btn-group, text-angular .btn-group .btn-group + .btn, text-angular .btn-group .btn-group + .btn-group {
    margin-left: -1px;
}
text-angular .btn-group > .btn:first-child {
    margin-left: 0;
}
text-angular .btn-group > .btn, text-angular .btn-group-vertical > .btn {
    position: relative;
    float: left;
}
text-angular .btn {
    display: inline-block;
    padding: 3px 8px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
text-angular .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
text-angular .btn-default.disabled, 
text-angular .btn-default[disabled], text-angular fieldset[disabled] .btn-default, text-angular .btn-default.disabled:hover, text-angular .btn-default[disabled]:hover, text-angular fieldset[disabled] .btn-default:hover, text-angular .btn-default.disabled:focus, text-angular .btn-default[disabled]:focus, text-angular fieldset[disabled] .btn-default:focus, text-angular .btn-default.disabled:active, text-angular .btn-default[disabled]:active, text-angular fieldset[disabled] .btn-default:active, text-angular .btn-default.disabled.active, text-angular .btn-default[disabled].active, text-angular fieldset[disabled] .btn-default.active {
    background-color: #fff;
    border-color: #ccc;
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}
text-angular .btn-group > .btn:hover, text-angular .btn-group-vertical > .btn:hover, 
text-angular .btn-group > .btn:focus, text-angular .btn-group-vertical > .btn:focus, 
text-angular .btn-group > .btn:active, text-angular .btn-group-vertical > .btn:active, 
text-angular .btn-group > .btn.active, text-angular .btn-group-vertical > .btn.active {
    z-index: 2;
}
text-angular .btn:active, text-angular .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
text-angular .btn-default:active, text-angular .btn-default.active, text-angular .open .dropdown-toggle.btn-default {
    background-image: none;
}
text-angular .btn-default:hover, text-angular .btn-default:focus, text-angular .btn-default:active, text-angular .btn-default.active, text-angular .open .dropdown-toggle.btn-default {
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
}
.ta-scroll-window.form-control {
    position: relative;
    padding: 0;
}
.ta-scroll-window > .ta-bind {
    height: auto;
    min-height: 200px;
    padding: 6px 12px;
    max-height: 300px;
}
.ta-editor.ta-html, .ta-scroll-window.form-control {
    min-height: 200px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #dde6e9;
    border-radius: 0px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -ms-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
text-angular .ta-editor.ta-text h1{
    font-size: 20px;
    font-weight: 400;
}
text-angular .ta-editor.ta-text h2{
    font-size: 18px;
    font-weight: 400;
    padding: 8px;
    color: #8EB936;
}
text-angular .ta-editor.ta-text h3{
    font-size: 16px;
}

text-angular .ta-editor.ta-text p{
    color: #8F8F8F;
    font-size: 14px;
    letter-spacing: .01em;
    text-align: justify;
    line-height: 1.6em;
    margin-bottom: 10px;
}
text-angular .ta-editor.ta-text pre{
    
}
text-angular .ta-editor.ta-text blockqoute{
    
}
text-angular .ta-editor.ta-text b{
    font-weight: bold !important;    
}
text-angular .ta-editor.ta-text i{
    font-style: italic;
}
text-angular .ta-editor.ta-text u{
    text-decoration:underline;
}
text-angular .ta-editor.ta-text strike{
    text-decoration: line-through;
}
text-angular .ta-editor.ta-text ul{
    
}
text-angular .ta-editor.ta-text ul li{
    list-style: disc inside;
    margin-bottom: 2px;
    padding-bottom: 0;
}
text-angular .ta-editor.ta-text ol{
    
}
text-angular .ta-editor.ta-text ol li{
    list-style: decimal inside;
    margin-bottom: 2px;
    padding-bottom: 0;
}
text-angular .ta-editor.ta-text a{
    color: #8eb936;
}
text-angular textarea{
    transition: none !important;
}
text-angular .ta-editor.ta-text *{
    outline: none !important;
}
text-angular.disabled .btn-toolbar{
    display: none;
}
text-angular.disabled .ta-scroll-window.form-control{
}