<!doctype html>
<html ng-app='eGestion' ng-class="{'login-container': !currentUser || !token}">
    <head>
        <base href="/">
        <meta name="robots" content="noindex">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>APP eGestion</title>
        <link href='http://fonts.googleapis.com/css?family=Roboto:500,300,400' rel='stylesheet' type='text/css'>
        <link href="css/master.css" rel="stylesheet" type="text/css"/>
        <link href="css/master2.css" rel="stylesheet" type="text/css"/>
        <link href="css/select.css" rel="stylesheet" type="text/css"/>
        <link href="css/angular-chart.css" rel="stylesheet" type="text/css"/>
        <link href="css/animations.css" rel="stylesheet" type="text/css"/>
        <link href="css/textAngular.css" rel="stylesheet" type="text/css"/>

        <!--        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.css">-->
    </head>

    <body ng-controller='ActionsController'>
        <aside ng-controller='NavController' ng-class="{full : isFull, small : !isFull, visible: !!currentUser || !!token}" style="display:none;">
            <header>
                <a class="logo" ui-sref="index"><img src="images/logo-fd.png" /></a>
                <a  href="javascript:;" class="btn-collapse" ng-click='toggleMenu()' ng-if="isFull == true"></a>
                <a  href="javascript:;" class="btn-expand" ng-click='toggleMenu()' ng-if="isFull == false"></a>
            </header>

            <nav class="menu-container">
                <ul>
                    <li ng-repeat="item in menu" ng-class="{'hasChildren' : item.subItems, 'active': activeMenu(item.activeMenu)}">
                        <a ui-sref="{{item.href}}" ng-click="collapseAll()" ng-if="!item.subItems"><i class="icon icon-{{item.icon}}"></i><span>{{item.name}}</span></a>
                        <a ng-class="item.active ? 'active' : 'inactive'" ng-click="showChilds($index)" ng-if="item.subItems"><i class="icon icon-{{item.icon}}"></i><span>{{item.name}}</span></a>
                        <ul class="subMenu animate-show" ng-show="item.active">
                            <li ng-repeat="subItem in item.subItems" ng-class="{'active': activeMenu(subItem.href)}">
                                <a ui-sref="{{subItem.href}}" ng-click="collapseAll()" ng-bind="subItem.name"></a>
                            </li>
                        </ul>
                    </li>
                </ul>
        </aside>
        <div class="section-container" ng-class="{full : !isFull, small : isFull}" >
            <header ng-controller='HeaderController' ng-click="hideUserMenu()" ng-class="{visible: !!currentUser || !!token}" style="display:none;">
                <div class="container">
                    <h1 class="title">{{title}}</h1>
                    <div class="loginMenu" ng-if="showUserMenu">

                        <a class="userMenu" ng-click='toggleUserMenu(); $event.stopPropagation();' >
                            <div class="avatar"><img ng-src="/upload/{{currentUserImg}}"/></div>
                            <span ng-bind="currentUser"></span>
                        </a>
                        <ul ng-class='{menuUserHidden : !userHidden}'>
                            <li><a class="user" ui-sref="usuario({userID:currentUserID})"><i class="icon icon-cog"></i>Mi perfil</a></li>
                            <li><a ui-sref="usuarioTareas"><i class="icon icon-task"></i>Tareas</a></li>
                            <li><a class="logout" ng-click="logOut()"><i class="icon icon-logout"></i>log out</a></li>
                        </ul>
                    </div>
                    <div class="subMenu" ui-view="subMenuView">
                    </div>
                </div>
            </header>

            <section id="content">
                <div ui-view="contentView"></div>
            </section>
        </div>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
        <script type="text/javascript" src="js/Chart.min.js"></script>
        <script type="text/javascript" src="js/angular-file-upload-shim.js"></script>
        <script type="text/javascript" src="js/angular-file-upload.min.js"></script>
        <script type="text/javascript" src="js/angular-ui-router.min.js"></script>
        <script type="text/javascript" src="js/angular-messages.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.js"></script>
        <script type="text/javascript" src="js/ui-bootstrap-custom-tpls-0.12.0.min.js"></script>
        <script type="text/javascript" src="js/select.min.js"></script>
        <script type="text/javascript" src="js/textAngular-rangy.min.js"></script>
        <script type="text/javascript" src="js/textAngular-sanitize.min.js"></script>
        <script type="text/javascript" src="js/textAngular.min.js"></script>
        <script type="text/javascript" src="app/app.js"></script>
        <script type="text/javascript" src="controllers/actions.js"></script>
        <script type="text/javascript" src="controllers/header.js"></script>
        <script type="text/javascript" src="controllers/home.js"></script>
        <script type="text/javascript" src="controllers/clientes.js"></script>
        <script type="text/javascript" src="controllers/productos.js"></script>
        <script type="text/javascript" src="controllers/pedidos.js"></script>
        <script type="text/javascript" src="controllers/familias.js"></script>
        <script type="text/javascript" src="controllers/login.js"></script>
        <script type="text/javascript" src="controllers/config.js"></script>
        <script type="text/javascript" src="controllers/usuarios.js"></script>
        <script type="text/javascript" src="controllers/proyectos.js"></script>
        <script type="text/javascript" src="controllers/gastos.js"></script>
        <script type="text/javascript" src="services/clientes.js"></script>
        <script type="text/javascript" src="services/productos.js"></script>
        <script type="text/javascript" src="services/pedidos.js"></script>
        <script type="text/javascript" src="services/familias.js"></script>
        <script type="text/javascript" src="services/login.js"></script>
        <script type="text/javascript" src="services/config.js"></script>
        <script type="text/javascript" src="services/usuarios.js"></script>
        <script type="text/javascript" src="services/proyectos.js"></script>
        <script type="text/javascript" src="services/graficos.js"></script>
        <script type="text/javascript" src="services/gastos.js"></script>
        <script type="text/javascript" src="directives/comma-converter.js"></script>
        <script type="text/javascript" src="directives/recursive-families.js"></script>
        <script type="text/javascript" src="directives/input-enable.js"></script>
        <script type="text/javascript" src="directives/set-focus.js"></script>
        <script type="text/javascript" src="directives/password-check.js"></script>
        <script type="text/javascript" src="directives/angular-chart.min.js"></script>
        <script type="text/javascript" src="directives/hit-enter.js"></script>
        <script type="text/javascript" src="filters/date-converter.js"></script>

    </body>
</html>
