<form class="form" name="editProductForm">
    <div class="row">
        <div class="widget white-box col-8">
            <div class="widget-header">
                <h2>Información del producto</h2>
            </div>
            <div class="widget-content">
                <ul class="full-width">
                    <li>
                        <p class="section-label">Nombre</p>
                        <input type="text" name="name" placeholder="Introduce nombre" required ng-model="product.name" ng-disabled="['0', '1', '2'].indexOf(userRol) < 0"/>
                        <div class="error" ng-messages="editProductForm.name.$error" ng-if="editProductForm.name.$dirty">
                            <p class="error" ng-message="required">El nombre es obligatorio.</p>
                        </div>
                    </li>
                    <li>
                        <p class="section-label">Categoria</p>
                        <select name="category" ng-options="item.id as item.name for item in selectFamilies" ng-model="product.category_id" ng-disabled="['0', '1', '2'].indexOf(userRol) < 0"></select>
                    </li>
                    <li>
                        <p class="section-label">Descripción</p>
                        <textarea type="text" name="description" placeholder="descripción" ng-model="product.description" ng-disabled="['0', '1', '2'].indexOf(userRol) < 0"></textarea>
                    </li>
                    <li>
                        <input type="checkbox" ng-model="product.active" ng-checked="product.active == 1" ng-true-value="1" ng-false-value="0" ng-disabled="['0', '1', '2'].indexOf(userRol) < 0">
                        <label class="switch-label" for="active" ng-bind="product.active == 0 ? 'Inactivo' : 'Activo'"></label>
                        <button type="button" class="switch" ng-class="product.active == 1 ? 'active' : ''" ng-model="product.active" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-disabled="['0', '1', '2'].indexOf(userRol) < 0"></button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="widget white-box col-4">
            <div class="widget-header">
                <h2>Imagen del producto</h2>
            </div>
            <div class="widget-content">
                <ul class="full-width">
                    <li>
                        <p class="section-label">Imagen</p>
                        <input type="file" name="file" class="btn fading" id="productFile"  ng-file-select="onFileSelect($files)" ng-model="files" ng-capture="'camera'" ng-hide="files" ng-disabled="['0', '1', '2'].indexOf(userRol) < 0"/>
                        <div class="thumbnail">
                            <img width="150" ng-src="{{url}}/{{tempFile.src}}" ng-model="tempFile.src" ng-if="tempFile.src" />
                            <p ng-model="tempFile.name" ng-bind="tempFile.name" ng-if="tempFile.name"></p>
                            <button class="btn btn-delete" ng-model="tempFile.id" ng-click="deleteProductImage(tempFile.id)" ng-if="tempFile.id" ng-if="['0', '1', '2'].indexOf(userRol) > -1" >x</button>
                        </div>
                    </li>
                    <li>
                        <div class="col-sm-4"><progressbar class="progress-striped active fading" max="100" value="loading" type="success" ng-show="loading > 0 && loading < 100"><i>{{loading}}%</i></progressbar></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="widget white-box col-8">
            <div class="widget-header">
                <h2>Precio</h2>
            </div>
            <div class="widget-content">
                <div class="inline-inputs">
                    <label for="format">Formato</label>
                    <label for="units">unidades</label>
                    <label for="price">precio</label>
                </div>
                <div class="inline-inputs" ng-repeat="format in price">
                    <input type="text" name="formatName" ng-model="format.name" required ng-disabled="['0', '1', '2'].indexOf(userRol) < 0"/>
                    <input type="text" name="formatUnits" ng-model="format.units" required ng-disabled="['0', '1', '2'].indexOf(userRol) < 0"/>
                    <input type="text" name="formatPrice" ng-model="format.price" coma-dot-converter="coma-dot-converter" required ng-disabled="['0', '1', '2'].indexOf(userRol) < 0" />
                    <input type="hidden" ng-model="format.product_id" />
                    <button class="btn btn-delete float-right" ng-click="removePrice($index, format.id)" ng-show="price.length > 1" ng-model="format.id" ng-if="['0', '1', '2'].indexOf(userRol) > -1">x</button><br/>
                </div>
                <div class="inline-inputs txt-right">
                    <button ng-click="addPrice()" class="btn-material btn-primary" ng-if="['0', '1', '2'].indexOf(userRol) > -1">Añadir precio</button>
                </div>
            </div>
        </div>
        <div class="widget white-box col-4">
            <div class="widget-header">
                <h2>IVA</h2>
            </div>
            <div class="widget-content">
                <ul class="full-width">
                    <li>
                        <select name="vat" required ng-options="item.id as item.vat for item in vat" ng-model="product.vat" ng-disabled="['0', '1', '2'].indexOf(userRol) < 0">
                        </select>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="widget white-box">
            <div class="widget-content">
                <div class="botonera">

                    <button ng-click="editProduct()" ng-disabled="originalEditForm() || editProductForm.$invalid" class="btn-material btn-primary" ng-if="['0', '1', '2'].indexOf(userRol) > -1">Editar</button>
                    <button ng-click="deleteProduct()"  class="btn-material btn-danger" ng-if="['0', '1', '2'].indexOf(userRol) > -1">Borrar</button>
                </div>
            </div>
        </div>
    </div>

</form>
<div class="botonera">
    <a class="btn-material btn-volver" ng-click="goBack();">volver</a>
</div>
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
<script type="text/ng-template" id="deleteProductModal.html">
    <div class="modal-header">
    <h3 class="modal-title">Atención!!</h3>
    </div>
    <div class="modal-body">
    <p>¿Estas seguro de borrar este producto?</p>
    </div>
    <div class="modal-footer">
    <button class="btn-material" ng-click="cancel()">Cancelar</button>
    <button class="btn-material btn-primary" ng-click="delete(productID)">Borrar</button>		
    </div>
</script>
<script type="text/ng-template" id="deleteImageModal.html">
    <div class="modal-header">
    <h3 class="modal-title">Atención!!</h3>
    </div>
    <div class="modal-body">
    <p>¿Estas seguro de borrar esta imagen?</p>
    </div>
    <div class="modal-footer">
    <button class="btn-material" ng-click="cancel()">Cancelar</button>
    <button class="btn-material btn-primary" ng-click="deleteImage(imageID)">Borrar</button>		
    </div>
</script>